.icon_main i{
    padding: 8px;
    color: var(--cor-fundo-secundaria);
    background-color: var(--cor-secundaria);
    border-radius: 8px;
    display: inline-block;
}

.edustock {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 8px;
}

.pesquisa_icon > input:active {
    border: none;
}

.botoes > button{
    width: 220px;
    height: 40px;
    border-radius: 6px;
    background-color: var(--cor-fundo);
    border: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    align-items: center;
    color: var(--cor-font);
}

.botoes > button:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    transform: scale(1.05);
    transition: ease 0.2s;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.barra_lateral {
    margin-left: 15px;
}

.suporte {
    padding: 10px;
    background-color: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    padding-right: 80px;
    border-radius: 6px;
    font-size: 14px;
    gap: 8px;
    color: var(--cor-font);
}

.suporte-p {
    font-size: 12px;
    
}

