.footer {
    display: flex;
    justify-content: space-between;
}

hr {
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 25px;
    border: 0.5px solid #e4e4e4;
}

.footer > button {
    margin-bottom: 7px;
}