@import url('https://fonts.googleapis.com/css2?family=Intel+One:wght@400;700&display=swap');

body {
    display: grid;
    grid-template-columns: 245px 1fr;
}



.barra_lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100vh; 
    width: 230px; 
    background-color: #f8f8f8; 
    border-right: 1.5px solid #ebebeb;
}

.pesquisa_cino {
    display: flex;
    justify-content: space-between;
}

.visao_geral {
    display: grid;
    grid-template-columns: 1fr 250px;
}

.btn_visao_geral {
    width: 220px;
    height: 44px;
    border-radius: 8px;
    background-color: var(--cor-secundaria);
    border: none;
    color: #ebebeb;
    box-shadow: 0 1px 10px var(--cor-secundaria);
    margin-top: 50px;
}

.texto_visao_geral {
    margin-top: 32px;
    margin-left: 32px;
}

.cards_personalizados {
    display: flex;
    gap: 24px;
    padding: 32px;
}

.cards_personalizados > div {
    width: 304px;
    height: 170px;
    border-radius: 12px;
    border: 1px solid #E2E8F0;
}

.icon1,
.icon2,
.icon3 {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon1 {
    background-color: #F1F5F9;
    color: #475569;
}

.icon2 {
    background-color: #DBEAFE;
    color: #2563EB;
}

.icon3 {
    display: flex;
    background-color: #FEE2E2;
    color: var(--cor-secundaria);

}

i {
    background-color: transparent;
}

.prioridade {
    background-color: #FEE2E2;
    color: var(--cor-secundaria);
    padding: 4px;
    border-radius: 100px;
}